<!--404-pg con -->
<div class="error-pg col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadding">
  <div class="container-fluid">
    <div class="row">

      <div class="error-pg-con col-lg-10 col-md-10 col-sm-11 col-xs-11 nopadding">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 error-img">
           <h2> if its broken, its not luxury</h2>
           <img src="content/images/error/404_img.png" class="img-responsive">
           <div><button class="contact-submit">go back</button> </div>
        </div>
      </div> <!--/privacy-pg-con -->
      

    </div>
  </div>  
</div><!--privacy-pg-con ends -->
  </body>

<script>
    // very simple to use!
    $(document).ready(function() {
      $('.js-activated').dropdownHover().dropdown();
    });
</script>
<style>

</style>

  <script src="content/js/bootstrap.min.js"></script>
  <script src="content/js/bootstrap-hover-dropdown.js"></script>
</html>
