@font-face {
    font-family: 'bebasneue';
    src: url('../fonts/BebasNeue.ttf') format('truetype');
    src: local('?'),
    url('../fonts/BebasNeue.otf') format('opentype'),
    url('../fonts/BebasNeue.woff') format('woff'),
    url('../fonts/BebasNeue.svg') format('svg');
}
@font-face {
    font-family: 'opensans-reg';
    src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
    src: local('?'),
    url('../fonts/OpenSans-Regular.otf') format('opentype'),
    url('../fonts/OpenSans-Regular.woff') format('woff'),
    url('../fonts/OpenSans-Regular.svg') format('svg');
}
@font-face {
    font-family: 'opensans-semibold';
    src: url('../fonts/OpenSans-Semibold.ttf') format('truetype');
    src: local('?'),
    url('../fonts/OpenSans-Semibold.otf') format('opentype'),
    url('../fonts/OpenSans-Semibold.woff') format('woff'),
    url('../fonts/OpenSans-Semibold.svg') format('svg');
}
@font-face {
    font-family: 'ballpark';
    src: url('../fonts/ballpark.ttf') format('truetype');
    src: local('?'),
    url('../fonts/BallparkWeiner.woff') format('woff'),
    url('../fonts/BallparkWeiner.svg') format('svg'),
    url('../fonts/ballpark.eot') format('eot');
}
@font-face {
    font-family: 'bebasneue-bold';
    src: url('../fonts/BebasNeueBold.ttf') format('truetype');
    src: local('?'),
    url('../fonts/BebasNeueBold.otf') format('opentype'),
    url('../fonts/BebasNeueBold.woff') format('woff'),
    url('../fonts/BebasNeueBold.svg') format('svg');
}
@font-face {
    font-family: 'bebasneuebook';
    src: url('../fonts/BebasNeueBook.ttf') format('truetype');
    src: local('?'),
    url('../fonts/BebasNeueBook.woff') format('woff'),
    url('../fonts/BebasNeueBook.svg') format('svg');
}
@font-face {
    font-family: 'bebasneuelight';
    src: url('../fonts/BebasNeueLight.ttf') format('truetype');
    src: local('?'),
    url('../fonts/BebasNeueLight.otf') format('opentype'),
    url('../fonts/BebasNeueLight.woff') format('woff'),
    url('../fonts/BebasNeueLight.svg') format('svg');
}
@font-face {
    font-family: 'bebasneueregular';
    src: url('../fonts/BebasNeueRegular.ttf') format('truetype');
    src: local('?'),
    url('../fonts/BebasNeueRegular.woff') format('woff'),
    url('../fonts/BebasNeueRegular.svg') format('svg');
}
/*@font-face {
    font-family: 'bebasneue-thin';
    src: url('../fonts/BebasNeue-Thin.ttf') format('truetype');
    src: local('?'),
    url('../fonts/BebasNeue-Thin.otf') format('opentype'),
    url('../fonts/BebasNeue-Thin.woff') format('woff'),
    url('../fonts/BebasNeue-Thin.svg') format('svg');
}*/

body {
    width: 100%;
    height: 100%;
    font-family: Lora,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #fff;
    background-color: #000;
}

html {
    width: 100%;
    height: 100%;
}
iframe {
    display: none;
}
.carousel,.item,.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
    overflow-y: auto;
}
.nopadding,.footer-social ul {
    padding:0;
}
ul li {
    list-style: none;
    display: inline-block;
}
a,a:hover {
    text-decoration: none;
}
.tab {
    display: table;
    height: 100%;
    width: 100%;
}
.mb-btn {
    display:none;
}
.tab-in {
    display: table-cell;
    vertical-align: middle;
}
.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.link-btn-part span,.signup-link span.IN-widget {
   display:block;
    position:absolute;
    opacity:0;
    width:100%;
    height:100%;
    left: 0;
    top: 0;
    z-index:10;
    max-width:210px;
    
}

.signup-link span.IN-widget {
    max-width: inherit;
    top: 15px;
}
.slide1 .fill {
    background-image:url('../images/slide1/slide-1-image.jpg');
}
.slide2 .fill {
    background-image:url('../images/slide2/slide2-bg.jpg');
}
.slide3 .fill {
    background-image:url('../images/slide3/slide3-bg.jpg');
}
.slide4 .fill {
    background-image:url('../images/slide4/slide4-bg.jpg');
}
.carousel-indicators {
    position: relative;
    display: block;
    width: 100%;
    float: right;

    left: auto;
    right: auto;
    top: auto;
    bottom: auto;
    margin-left: 0px;
    text-align: right;
}
.carousel-indicators li,.carousel-indicators .active {
    background: 0 none;
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    margin-left: 25px;
    margin-right: 25px;
    border: 0 none;
    width: 100px;
    height: auto;
    vertical-align: middle;
    text-indent: inherit;
    padding: 5px;
    border:0 none;
    outline: 0 none;
    border-radius: 0px;
    position: relative;
    height: 50px;
    text-align: center;
    width: auto;
    font-family: 'bebasneueregular',arial;
    letter-spacing: 2px;
}
.section2-inner .explore-part {
    display: none;
}
.main-menu ul li.active:after, .main-menu ul li:hover:after {
    content: '';
    height: 2px;
    width:100%;
    position: absolute;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background-color: rgba(255,255,255,1);
}

.main-menu ul li:last-child:hover:after {
    height: 0px;
}
.main-menu ul li:hover:after {
    background-color: rgba(255,255,255,0.7);
    
}
.carousel-indicators ul li.active {
    background: 0 none;
}
.main-menu {
    position: absolute;
    top: 50px;
    right: 120px;
    display: block;
    width: 50%;
}

.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid #fff;
    border-radius: 100%!important;
    font-size: 40px;
    color: #fff;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}
.rigalio-logo {
    position: absolute;
    top: 30px;
    left: 3%;
    z-index: 5;
}
.carousel-control.left,.carousel-control:hover,.carousel-control.right {
    background: 0 none;
    z-index: 5;
}
/*.carousel-inner>.item,.carousel-inner {
    display: block;
    overflow: hidden;
    clear: both;
    width: 100%;
    height: 100%;
    position: relative;
}*/
.carousel-control {
    top: 47%;
    opacity:1;
}
.carousel-control.left {
    left: 31px;
}
.carousel-control.right {
    right: 31px;
}
.carousel-control.right img {
    float: right;
}
.follow-icons {
    position: absolute;
    left: 40px;
    bottom: 30px;
    z-index: 5;
}
.follow-icons ul li,.footer-social ul li {
    width: 30px;
    height: 30px;
    margin-left: 1px;
    margin-right: 1px;
    vertical-align: middle;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
    cursor: pointer;
    z-index: 5;
}
.follow-icons ul li a, .footer-social ul li a {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
}
.carousel-control {
    width: 50px;
    height: 50px;
}
.follow-icons ul li.fb-ico {
    background: url(../images/social/facebook-normal.png) no-repeat top center;
}
.follow-icons ul li.fb-ico:hover {
    background: url(../images/social/facebook-filled.png) no-repeat top center;
}
.follow-icons ul li.gplus-ico {
    background: url(../images/social/google-plus-normal.png) no-repeat top center;
}
.follow-icons ul li.gplus-ico:hover {
    background: url(../images/social/google-plus-filled.png) no-repeat top center;
}
.follow-icons ul li.link-ico {
    background: url(../images/social/linkedin-normal.png) no-repeat top center;
}
.follow-icons ul li.link-ico:hover {
    background: url(../images/social/linked-in-filled.png) no-repeat top center;
}
.follow-icons ul li.insta-ico {
    background: url(../images/social/instagram-normal.png) no-repeat top center;
}
.follow-icons ul li.insta-ico:hover {
    background: url(../images/social/instagram-filled.png) no-repeat top center;
}
.follow-icons ul li.twi-ico {
    background: url(../images/social/twitter-normal.png) no-repeat top center;
}
.follow-icons ul li.twi-ico:hover {
    background: url(../images/social/twitter-filled.png) no-repeat top center;
}
.follow-icons h5,.scroll-part h5 {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    text-align: left;
    padding-left: 5px;
    padding-bottom: 5px;
    font-family: 'bebasneueregular',arial;
    letter-spacing: 3px;
}
.bounce {
    animation: bounce .5s infinite alternate;
    -webkit-animation: bounce .5s infinite alternate;
    -moz-animation: bounce .5s infinite alternate;
    -o-animation: bounce .5s infinite alternate;
}
.arrow-stru {
    text-align: center;
    display: block;
    width: 30px;
    height: 30px;
    margin:0 auto;
    cursor: pointer;
}
.scroll-part {
    position: absolute;
    bottom: 3px;
    text-align: center;
    display: block;
    left: 42%;
    z-index: 5;
    display: block;

}
.fb-btn-part,.link-btn-part {
    position: absolute;
    top: 62%;
    left: 44%;
    cursor: pointer;
    z-index: 5;
}
.fb-btn-part button,.sign-up-foot button,.link-btn-part button {
    width: 230px;
    height: 52px;
    background: url(../images/fb-btn-normal.png) no-repeat top center;
    border: 0 none;
    outline: 0 none;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
    background-size: contain !important;
    position: relative;
}
.link-btn-part button {
    background: url(../images/link-btn-normal.png) no-repeat top center;
}
.fb-btn-part button:hover {
    background: url(../images/fb-btn-hover.png) no-repeat top center;
    background-size: contain;
}
.link-btn-part button:hover {
    background: url(../images/link-btn-hover.png) no-repeat top center;
    background-size: contain;
}
.sign-up-foot button {
    background: url(../images/footer-signup.jpg) no-repeat top center;
}
.sign-up-foot button:hover {
    background: url(../images/footer-signup-hover.jpg) no-repeat top center;
}
.signup-link button {
    background: url(../images/footer-signup-link.png) no-repeat top center;
} 
.signup-link button:hover {
    background: url(../images/footer-link-signup-hover.png) no-repeat top center;
} 
.explore-part button {
    color: #fff;
    border: 2px solid #fff;
    font-family: arial;
    font-size: 11px;
    text-transform: uppercase;
    background-color: transparent;
    width: 148px;
    height: 42px;
    margin: 0 auto;
    outline: 0 none;
    letter-spacing: 1px;
    margin-top: 20px;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.explore-part button:hover {
    color: #121212;
    background-color: #fff;
}
.inner-con {
    display: block;
    position: absolute;
    z-index: 5;
    top: 0;
    width: 100%;
    height: 100%;
}
.inner-con h4 {
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-family: 'bebasneueregular',arial;
    font-size: 24px;
    letter-spacing: 1px;
}
.inner-con .left-line h4:after {
    left: 16%;
}
.inner-con .left-line h4:before {
    left: 16%;
}
.inner-con .right-line h4:after {
    right: 16%;
}
.inner-con .right-line h4:before {
    right: 16%;
}
.slide4 .mid-line h3 {
    word-spacing: -6px;
    letter-spacing: 5px;
}
.slide3 .mid-line h2 {
    font-size: 122px;
}
.inner-con h4:after {
    content: '';
    height: 54px;
    width: 2px;
    position: absolute;
    bottom: 0px;
}
.inner-con h4:before {
    content: '';
    height: 2px;
    width: 65%;
    position: absolute;
    bottom: 0px;
}
.slide4 .mid-line h4 {
    margin-top: -10px;
    font-size: 44px;
}
.slide1 .inner-con h4:after,.slide1 .inner-con h4:before {
    background-color: rgba(11,141,191,0.7);
}
.fb-btn-part:after,.link-btn-part:after {
    background-color: rgba(255,255,255,0.3);
}
.slide2 .inner-con h4:after,.slide2 .inner-con h4:before {
    background-color: rgba(90,89,85,0.7);
}
.slide3 .inner-con h4:after,.slide3 .inner-con h4:before {
    background-color: rgba(141,156,173,0.7);
}
.slide4 .inner-con h4:after,.slide4 .inner-con h4:before {
    background-color: rgba(90,89,85,0.7);
}
.inner-con .mid-line h4:before,.inner-con .mid-line h4:after {
    height: 0px;
    width: 0px;
}
.fb-btn-part:after,.link-btn-part:after {
    content: '';
    height: 113px;
    width: 2px;
    position: absolute;
    bottom: -123px;
    left: 50%;
}
.footer-social {
    z-index: 5;
    clear: both;
    width: 100%;
    margin-top: 40px;
}
.inner-con h3 {
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}
.left-line,.mid-line,.right-line {
    height: 80%;
    margin-bottom: 20px;
}
.left-line .tab-in,.right-line .tab-in {
    vertical-align: bottom;
}
.play-state .open {
    display: block;
}
.play-state {
    position: relative;
}
.slide1 .mid-line h4 {
    word-spacing: -4px;
}
.slide3 .mid-line h4 {
    font-size: 40px;
    letter-spacing: 2px;
}
.slide4 .mid-line h2 {
    font-family: 'bebasneuebook',arial;
    font-size: 146px;
}
.mid-line h2 {
    font-family: 'ballpark',arial;
    font-size: 133.25px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-transform: capitalize;
}
.mid-line {
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    padding-top: 7.5%;
}
.mid-line h3 {
    font-size: 60px;
    font-family: 'bebasneuebook',arial;
    letter-spacing: 6px;
    margin-bottom: 0px;
}
.mid-line h4 {
    font-size: 50px;
    font-family: 'bebasneueregular',arial;
    letter-spacing: 5px;
    margin-top: 0px;
}
.state {
    position: absolute;
    top: 0px;
    left: 0;
    width: 40px;
    height: 40px;
}
.normal-play,.stop-play {
    display: none;
}
.below-tagline {
    width: 80%;
    float: none;
    clear: both;
    margin: 0 auto;
    color: #fff;
    text-transform: uppercase;
}
.arrow-stru  img {
    margin: 0 auto;
}
.below-tagline span {
    font-size: 24px;
    letter-spacing: 2px;
    font-family: 'bebasneueregular',arial;
    text-align: center;
    display: block;
}
.section2 {
    padding-top: 80px;
    padding-bottom: 50px;
    background-color: #fff;
    position: relative;
    display: block;
    overflow: hidden;
    clear: both;
    z-index: 10;
}
.section2-inner {
    margin:0 auto;
    float: none;
    display: block;
    text-align: center;
}
.content-headline h3 {
    color: #000;
    text-align: center;
    font-family: 'bebasneueregular',arial;
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.content-headline hr,.division hr {
    width: 30%;
    margin: 0 auto;
    margin-bottom: 70px;
    border-top: 2px solid #ccc;
    margin-top: 20px;
}
.part2 {
    margin-bottom: 80px;
    display: block;
    overflow: hidden;
    clear: both;
}
.img-part img {
    margin:0 auto;
}
.descriptn-con {
    margin-top: 50px;
}
.footer-con p {
    color: #343434;
    font-family: 'opensans-reg',arial;
    text-align: center;
    font-size: 18px;
    line-height: 1.5;
    width: 80%;
    margin:0 auto;
}
.descriptn-con p span {
    font-family: 'opensans-semibold';
}
.descriptn-con p {
    color: #343434;
    font-family: 'opensans-reg',arial;
    font-size: 16px;
    line-height: 1.2;
    max-width: 90%;
}
.descriptn-con p:after {
    content: '';
    height: 40px;
    width: 2px;
    position: absolute;
    top: 0px;
    right: 0;
    background-color: #ccc;
}
.for-col .descriptn-con p:after {
    width: 0px;
}
.sign-up-foot {
    margin-bottom: 50px;
}
.footer-social ul li.fb-foot {
    background: url(../images/social/down/facebook-normal-black.png) no-repeat top center;
}
.footer-social ul li.fb-foot:hover {
    background: url(../images/social/down/facebook-filled-black.png) no-repeat top center;
}
.footer-social ul li.gplus-foot {
    background: url(../images/social/down/google-plus-normal-black.png) no-repeat top center;
}
.footer-social ul li.gplus-foot:hover {
    background: url(../images/social/down/google-plus-filled-black.png) no-repeat top center;
}
.footer-social ul li.linkedin-foot {
    background: url(../images/social/down/linkedin-normal-black.png) no-repeat top center;
}
.footer-social ul li.linkedin-foot:hover {
    background: url(../images/social/down/linked-in-filled-black.png) no-repeat top center;
}
.footer-social ul li.insta-foot {
    background: url(../images/social/down/instagram-normal-black.png) no-repeat top center;
}
.footer-social ul li.insta-foot:hover {
    background: url(../images/social/down/instagram-filled-black.png) no-repeat top center;
}
.footer-social ul li.twitter-foot {
    background: url(../images/social/down/twitter-normal-black.png) no-repeat top center;
}
.footer-social ul li.twitter-foot:hover {
    background: url(../images/social/down/twitter-filled-black.png) no-repeat top center;
}
@keyframes bounce {
  from {
    transform: translateY(-10px);
  }

  to {
    transform: translateY(0);
  }
}

@-webkit-keyframes bounce {
  from {
    -webkit-transform: translateY(-10px);
  }

  to {
    -webkit-transform: translateY(0);
  }
}
.bounce {
  animation: bounce .5s infinite alternate;
    -webkit-animation: bounce .5s infinite alternate;
    -moz-animation: bounce .5s infinite alternate;
    -o-animation: bounce .5s infinite alternate;
}
@media only screen  and (max-width: 1400px) {
    .mid-line h3 {
        font-size: 45px;
    }
    .signup-link span.IN-widget {
        top: 13px;
    }
    .main-menu {
        right: 100px;
    }
    .explore-part button {
        font-size: 10px;
        width: 140px;
        height: 38px;
    }
    .follow-icons {
        bottom: 10px;
    }
    .inner-con .left-line h4:after {
        left: 10%;
    }
    .inner-con .left-line h4:before {
        left: 10%;
    }
    .follow-icons h5 {
        margin-bottom: 3px;
    }
    .scroll-part {
        bottom: 0px;
    }
    .inner-con .right-line h4:after {
        right: 10%;
    }
    .inner-con h4:before {
        width: 78%;
    }
    .inner-con .right-line h4:before {
        right: 10%;
    }
    .slide3 .mid-line h2 {
        font-size: 97px;
    }
    .carousel-control {
        width: 23px;
        height: 40px;
    }
    .slide4 .mid-line h2 {
        font-size: 118px;
    }
    .slide4 .mid-line h4 {
        margin-top: -14px;
        font-size: 30px;
    }
    .inner-con h4,.below-tagline span,.follow-icons h5, .scroll-part h5 {
        font-size: 20px;
    }
    .follow-icons h5, .scroll-part h5 {
        font-size: 14px;
    }
    .fb-btn-part,.link-btn-part {
        left: 42.5%;
        top:65%;
    }
    .slide3 .mid-line h4 {
        letter-spacing: 0px;
    }
    .mid-line h4 {
        font-size: 40px;
    }
    .mid-line h2 {
        font-size: 110.25px;
    }
    .carousel-indicators li, .carousel-indicators .active {
        height: 40px;
        font-size: 16px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .fb-btn-part button, .sign-up-foot button,.link-btn-part button {
        width: 210px;
        height: 45px;
    }
    .fb-btn-part:after,.link-btn-part:after {
        height: 60px;
        bottom: -70px;
    }
    .section2 {
        padding-top: 60px;
        padding-bottom: 40px;
    }
    .content-headline hr, .division hr {
        margin-bottom: 60px;
    }
    .content-headline h3 {
        font-size: 45px;
    }
    .sign-up-foot {
        margin-bottom: 40px;
    }
    .descriptn-con p {
        font-size: 14px;
    }
    .footer-con p {
        font-size: 16px;
        line-height: 1.4;
    }
}
@media only screen  and (max-width: 1024px) {
    .left-line,.right-line,.follow-icons h5 {
        display: none;
    }
    .fb-btn-part,.link-btn-part {
        left: 40%;
    }
    .descriptn-con p {
        font-size: 12px;
    }
    .explore-part button {
        margin-top: 10px;
    }
    .mid-line {
        padding-top: 12.5%;
    }
    .fb-btn-part, .link-btn-part {
        top: 71%;
    }
    .divsn-col4 {
        width: 25%;
    }
}
@media only screen  and (max-width: 800px) {
    .slide1 .fill {
        background-image:url('../images/slide1/ipad-slide1bg.jpg');
    }
    .slide2 .fill {
        background-image:url('../images/slide2/ipad-slide2bg.jpg');
    }
    .slide3 .fill {
        background-image:url('../images/slide3/ipad-slide3bg.jpg');
    }
    .slide4 .fill {
        background-image:url('../images/slide4/ipad-slide4bg.jpg');
    }
    .slide4 .mid-line h3 {
        word-spacing: -6px;
        letter-spacing: 4px;
    }
    .scroll-part {
        bottom: 13px;
        left: 36%;
    }
    .state img {
        max-width: 24px;
    }
    .follow-icons ul li, .footer-social ul li {
        width: 25px;
        height: 25px;
    }
    .slide4 .mid-line h4 {
        font-size: 31px;
    }
    .slide4 .mid-line h2 {
        font-size: 114px;
    }
    .slide2 .mid-line,.slide3 .mid-line,.slide4 .mid-line {
        padding-top: 18.5%;
    }
    .main-menu {
        width: 65%;
    }
    .carousel-control.left {
        left: 20px;
    }
    .carousel-control.right {
        right: 20px;
    }
    .carousel-control {
        width: 20px;
    }
    .mid-line {
        padding-top: 24.5%;
    }
    .follow-icons {
        left: 20px;
    }
    .fb-btn-part,.link-btn-part {
        left: 35.5%;
        top: 68%;
    }
    .descriptn-con {
        margin-top: 25px;
    }
    .first-col:after,.thi-col:after {
        content: '';
        height: 40px;
        width: 2px;
        position: absolute;
        right: 0;
        bottom: 12px;
        background-color: #ccc;
    }
    .descriptn-con p:after {
        width: 0px;
    }
    .rigalio-logo {
        left: 4%;
    }
    .divsn-col4 {
        width: 50%;
        margin-bottom: 30px;
    }
    .section2 {
        padding-top: 70px;
        padding-bottom: 70px;
    }
}
@media only screen  and (max-width: 568px) {
    .slide1 .fill {
        background-image:url('../images/slide1/mb-slide1bg.jpg');
    }
    .slide2 .fill {
        background-image:url('../images/slide2/mb-slide2bg.jpg');
    }
    .slide3 .fill {
        background-image:url('../images/slide3/mb-slide3bg.jpg');
    }
    .slide4 .fill {
        background-image:url('../images/slide4/mb-slide4bg.jpg');
    }
    .section2-inner .explore-part {
        display: block;
    }
    .fixed-content .link-btn-part {
        display:none;
    }
    .mb-btn {
        display:block;
        position:absolute;
        bottom:60px;
        height:40px;
        left:28%;
        z-index:15;
    }
    .mb-btn2 {
        position: absolute;
        bottom: 224px;
        height: 40px;
        left: 26%;
        z-index: 15;
        display: block;
    }
    
    .inner-con .explore-part {
        display: none;
    }
    .state img {
        max-width: 19px;
        margin-top:4px;
    }
    .fb-btn-part button, .sign-up-foot button, .link-btn-part button {
        width: 180px;
        height: 38px;
    }
    .signup-link span.IN-widget {
        top: 10px;
    }
    .arrow-stru {
        width: 12px;
    }
    .explore-part button {
        font-size: 8px;
        width: 120px;
        height: 30px;
        margin-top: 5px;
        background-color: #343434;
        border: 1px solid #fff;
        margin-bottom: 20px;
    }
    .content-headline hr, .division hr {
        margin-bottom: 40px;
        margin-top: 10px;
    }
    .section2 {
        padding-top: 25px;
        padding-bottom: 25px;
    }
    .main-menu {
        width: 100%;
        right: 0px;
        left: 0px;
        top: 100px;
    }
    .rigalio-logo {
        top: 20px;
        margin:0 auto;
        width: 100%;
        left:0px;
    }
    .rigalio-logo img {
        margin:0 auto;
        max-width: 70px;
    }
    .mid-line h2 {
        font-size: 65.25px;
    }
    .mid-line h3 {
        font-size: 25px;
    }
    .mid-line h4 {
        font-size: 20px;
    }
    .mid-line,.slide2 .mid-line, .slide3 .mid-line, .slide4 .mid-line {
        padding-top: 43.5%;
    }
    .slide1 .mid-line {
        padding-top: 48.5%;
    }
    .carousel-indicators li, .carousel-indicators .active {
        height: 35px;
        font-size: 14px;
        margin-left: 5px;
        margin-right: 5px;
    }
    .fb-btn-part:after,.link-btn-part:after {
        width: 0px;
        height: 0px;
    }
    .below-tagline span {
        font-size:18px;
    }
    .carousel-indicators {
        float: none;
        width: 100%;
        text-align: center;
    }
    .follow-icons,.thi-col,.for-col {
        display: none !important;
    }
    .part2 {
        margin-bottom: 0px;
    }
    .slide4 .mid-line h3 {
        font-size: 23px;
        letter-spacing: 3px;
        word-spacing: -2px;
    }
    .descriptn-con p {
        font-size: 10px;
        max-width: 100%;
    }
    .slide4 .mid-line h2 {
        font-size: 64px;
    }
    .slide4 .mid-line h4 {
        font-size: 16px;
        margin-top: -9px;
        word-spacing: 0px;
        letter-spacing: 3px;
    }
    .content-headline hr, .division hr {
        width: 80%;
    }
    .fb-btn-part,.link-btn-part {
        left: 22%;
        top: auto;
        bottom: 9%;
    }
    .scroll-part {
        width: 100%;
        left: auto;
        right: auto;
        text-align: center;
        display: block;
        bottom: -10px;
    }
    .slide3 .below-tagline {
        margin-top: -22%;
    }
    .slide4 .below-tagline {
        margin-top: -23%;
    }
    .below-tagline {
        margin-top: -27%;
        width: 100%;
    }
    .carousel-control {
        display: none;
    }
    .slide3 .mid-line h4 {
        font-size: 21px;
        letter-spacing: 1px;
        margin-top: -10px;
    }
    .scroll-part h5 {
        text-align: center;
        font-size: 16px;
        letter-spacing: 2px;
    }
    .slide2 .mid-line h3 {
        letter-spacing: 4px;
        font-size: 23px;
    }
    .slide3 .mid-line h2 {
        font-size: 62px;
    }
    .slide2 .mid-line h2 {
        font-size: 62.25px;
    }
    .slide3 .mid-line h3 {
        font-size: 24px;
    }
    .first-col:after, .thi-col:after {
        height: 26px;
        right: 4px;
    }
    .footer-con p {
        font-size: 12px;
        width: 100%;
    }
    .sign-up-foot {
        margin-bottom: 25px;
    }
    .footer-social {
        margin-top: 25px;
    }
    .content-headline h3 {
        font-size: 38px;
    }
    .follow-icons h5, .scroll-part h5 {
        font-size: 12px;
    }
    .link-btn-part span {
        top: 3px;
    }
}
@media only screen  and (max-width: 350px) {
    .carousel-indicators li, .carousel-indicators .active {
        margin-left: 2px;
        margin-right: 2px;
    }
    .slide2 .mid-line h3,.mid-line h3 {
        font-size: 20px;
    }
    .fb-btn-part button, .sign-up-foot button,.link-btn-part button {
        width: 164px;
        height: 38px;
    }
    .slide4 .mid-line h2 {
        font-size: 54px;
    }
    .slide4 .mid-line h3 {
        font-size: 19px;
    }
    .main-menu {
        top: 81px;
    }
    .rigalio-logo {
        top: 10px;
    }
    .rigalio-logo img {
        max-width: 70px;
    }
    .below-tagline span,.slide4 .mid-line h4 {
        font-size: 14px;
    }
    .descriptn-con p {
        font-size: 9px;
    }
    .footer-con p {
        font-size: 11px;
    }
    .main-menu ul li.active:after, .main-menu ul li:hover:after {
        bottom: 5px;
    }
    .slide2 .mid-line h2,.slide3 .mid-line h2 {
        font-size: 52.25px;
    }
    .mid-line h4,.slide3 .mid-line h4 {
        font-size: 15px;
    }
    .slide3 .mid-line h3 {
        font-size: 17px;
    }
}
@media only screen 
  and (min-device-width: 300px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 
    .main-menu {
        top: 14px;
    }
    .slide2 .mid-line, .slide3 .mid-line, .slide4 .mid-line {
        padding-top: 13.5%;
    }
    .carousel-indicators li, .carousel-indicators .active {
        margin-left: 10px;
        margin-right: 10px;
    }
    .rigalio-logo img {
        max-width: 80px;
    }
    .rigalio-logo {
        top: 10px;
    }
    .mid-line {
        padding-top: 12.5%;
    }
    .fb-btn-part button, .sign-up-foot button,.link-btn-part button {
        width: 150px;
        height: 33px;
    }
    .below-tagline span {
        font-size: 16px;
    }
    .fb-btn-part:after,.link-btn-part:after {
        height: 0px; width: 0px;
    }
    .follow-icons {
        display: none !important;
    }
    .fb-btn-part,.link-btn-part {
        left: 38%;
    }
    .scroll-part {
        display: none;
    }
    .mid-line h3 {
        font-size: 23px;
        word-spacing: -2px;
        letter-spacing: 3px;
    }
    .slide4 .mid-line h2 {
        font-size: 62px;
    }
    .mid-line h2,.slide3 .mid-line h2 {
        font-size: 50px;
    }
    .slide4 .mid-line h4 {
        font-size: 15px;
        margin-top: -8px;
    }
    .slide3 .mid-line h4 {
        font-size: 25px;
    }
    .mid-line h4 {
        font-size: 14px;
    }
}